<div>
  <div class="header">
    <h1 class="title">Email Template Selection</h1>
  </div>
  
  <div class="templates-section">
    <div class="template">
      <h2 class="email-title-1">{{ firstTemplate.title }}</h2>
      <p class="email-text-1">{{ firstTemplate.content }}</p>
      <h3 class="email-footer-1">{{ firstTemplate.footer }}</h3>
      <button (click)="selectFirstTemplate()">Select</button>
    </div>
    <div class="template">
      <h2 class="email-title-2">{{ secondTemplate.title }}</h2>
      <p class="email-text-2">{{ secondTemplate.content }}</p>
      <h3 class="email-footer-2">{{ secondTemplate.footer }}</h3>
      <button (click)="selectSecondTemplate()">Select</button>
    </div>
    <div class="template">
      <h2 class="email-title-3">{{ thirdTemplate.title }}</h2>
      <p class="email-text-3">{{ thirdTemplate.content }}</p>
      <h3 class="email-footer-3">{{ thirdTemplate.footer }}</h3>
      <button (click)="selectThirdTemplate()">Select</button>
    </div>
  </div>
  
  <div class="action-section">
    <div class="editor">
      <h2 class="editor-title">Editor</h2>
      <div class="form-container">
        <p>Font Size in px: <input type="text" [(ngModel)]="fontsize"></p>
        <p>Color Name: <input type="text" [(ngModel)]="color"></p>
      </div>
    </div>
    <div class="preview">
      <h2 class="preview-title">Preview</h2>
      <div class="preview-container" style="font-size: {{fontsize}}px; color: {{color}}">
        <h2>{{preview.title}}</h2>
        <p>{{preview.content}}</p>
        <h3>{{preview.footer}}</h3>
      </div>
    </div>
  </div>
  
  <div class="export-button">
    <span class="button-text"><button (click)="exportPreview()">Export</button>
    </span>
  </div>
  <div class="jsonSection">
    {{result}}
  </div>
</div>